<summary class="grid_container">
  <section class="chart_overview">
    <h1>Finanzen nach Kategorie</h1>
    <div class="chart">
      <app-chart></app-chart>
    </div>
    <table>
      <!-- Mock-Daten -->
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
    </table>
  </section>

  <section class="finance_history">
    <h2>Letzten Transaktionen</h2>
    <p>Übersicht über ihre letzten Transaktionen</p>
    <table>
      <tr>
        <th>Beschreibung</th>
        <th>Methode</th>
        <th>Betrag</th>
        <th></th>
      </tr>
      @for (einnahmen of totalEinnahmenList.value(); track $index) {
        <tr>
          <td>{{ einnahmen.name }}</td>
          <td>{{ einnahmen.zahlungsmittel }}</td>
          <td>{{ einnahmen.einnahme + '€' }}</td>
          <td>
            <img
              class="icon_more"
              src="more.png"
              alt="Transaktionen erweiterte Einstellungen"
            />
          </td>
        </tr>
      }
    </table>
  </section>
</summary>
