.grid_container {
    display: flex;
    max-width: 90%;
    max-height: 38.5em;
    margin-inline: auto;
    gap: 3.5em;
}

.chart_overview {
    border-radius: var(--box-radius);
    border: var(--box-border);
    padding: 1.5em;
    min-width: 32%;
    max-width: 32%;
    height: 100%;
}

.chart {
    margin-block: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2.5em;
}

td {
    border-bottom: var(--box-border);
    text-align: left;
    padding: 0.75em;
}

th {
    font-weight: 200;
    background-color: var(--clr-grey);
    text-align: start;
    padding: 1em 0.75em;
}

.finance_history {
    border-radius: var(--box-radius);
    border: var(--box-border);
    padding: 1.5em 0 0 0;
    width: 100%;
    min-height: 40.75em;
    overflow-y: scroll;
    scrollbar-color: var(--clr-grey) transparent;
}

.todo {
    display: flex;
    justify-content: space-between;
    margin-inline: 1em;
}

input[type=button] {
    border: var(--box-border);
    border-radius: var(--box-radius);
    min-width: 10em;
}

.finance_history > h2, p {
    padding: 0.25em 1em;
}

.icon_more {
    cursor: pointer;
}