<summary class="grid_container">
  <section class="chart_overview">
    <h1>Ausgaben nach Kategorie</h1>
    <div class="chart">
      <app-chart></app-chart>
    </div>
    <table>
      <!-- Mock-Daten -->
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
      <tr>
        <td>icon</td>
        <td>grund</td>
        <td>zahl</td>
      </tr>
    </table>
  </section>

  <section class="finance_history">
    <h2>Letzten Transaktionen</h2>
    <p>Übersicht über ihre letzten Transaktionen</p>
    <table>
      <tr>
        <th>Beschreibung</th>
        <th>Methode</th>
        <th>Betrag</th>
        <th></th>
      </tr>
      @for (einnahmen of totalEinnahmenList.value(); track $index) {
        <tr>
          <td>{{ einnahmen.name }}</td>
          <td>{{ einnahmen.zahlungsmittel }}</td>
          <td>{{ einnahmen.einnahme + '€' }}</td>
          <td>
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#516778"></circle> <circle cx="12" cy="12" r="1.5" fill="#516778"></circle> <circle cx="12" cy="18" r="1.5" fill="#516778"></circle> </g></svg>
          </td>
        </tr>
      }
    </table>
  </section>
</summary>
