<div class="grid_container">
  <section class="chart_overview">
    <h1>Ausgaben nach Kategorie</h1>
    <div class="chart">
      <app-chart></app-chart>
    </div>
      <table>
        <!-- Mock-Daten -->
        <tr>
            <td>icon</td>
            <td>grund</td>
            <td>zahl</td>
        </tr>
        <tr>
            <td>icon</td>
            <td>grund</td>
            <td>zahl</td>
        </tr>
        <tr>
            <td>icon</td>
            <td>grund</td>
            <td>zahl</td>
        </tr>
        <tr>
            <td>icon</td>
            <td>grund</td>
            <td>zahl</td>
        </tr>
        <tr>
            <td>icon</td>
            <td>grund</td>
            <td>zahl</td>
        </tr>
      </table>
  </section>

  <section class="finance_history">
    <table>
        <th>
            <tr>
                <td>Beschreibung</td>
                <td>Methode</td>
                <td>Betrag</td>
            </tr>
        </th>
    </table>
  </section>
</div>
