<header>
  <div class="flex-container">
    <h1>EquiFi</h1>
    <nav>
      <ul class="navBar">
        <li><a href="">Übersicht</a></li>
        <li><a href="">Transaktionen</a></li>
        <li><a href="">Analytics</a></li>
        <li><a href="">Charts</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="settingsBar">
        <li>
          <img
            class="icon-settings"
            src="settings.png"
            alt="Click to open Settings"
          />
        </li>
        <li>
          <img
            class="icon-bell"
            src="bell.png"
            alt="Click to open Account Reference"
          />
        </li>
        <li>
          <img
            class="icon-user"
            src="user.png"
            alt="Click to open Account Reference"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>
