.financeCard_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: var(--box-border);
    border-radius: var(--box-radius);
    padding: 1em;
    width: 29em;
    height: 6.5em;
    gap: 1em;
}