<section class="summate_container">
  <div
    class="icon_container"
    [style.background-color]="backgroundColor()"
    (click)="toggleSummate()"
  >
    <img
      src="{{ icon() }}"
      alt="An Icon to add Financies to your Total Transaction List"
    />
  </div>
  <div class="add_finance">
    <p class="add_finance_title">{{ caption() }}</p>
    <p>{{ label() }}</p>
  </div>
</section>

<!-- popup um Finanz hinzuzufügen -->
@if (openSummate()) {
  @if (einnahmeTruthy()) {
      <div class="summateWindow">
      <h1>{{ popUpCaption() }}</h1>
      <img class="close" src="close.png" alt="" (click)="toggleSummate()" />
      <div>
        <input
        list="test"
          type="text"
          value=""
          placeholder="Grund"
          [(ngModel)]="einnahme.name"
        />

        <input
          type="text"
          value=""
          placeholder="Betrag"
          [(ngModel)]="einnahme.einnahme"
        />
        <input
          list="zahlungsmittel"
          type="text"
          value=""
          placeholder="z.B. Bank-Transaktion"
          [(ngModel)]="einnahme.id"
        />
        <datalist id="zahlungsmittel">
          <option value="Kreditkarte"></option>
          <option value="Paypal"></option>
          <option value="Bar"></option>
        </datalist>
      </div>
      <input
        id="enter"
        type="button"
        value="Enter"
        (click)="addEinnahmen(einnahme)"
      />
    </div>
  } @else {
    <div class="summateWindow">
      <h1>{{ popUpCaption() }}</h1>
      <img class="close" src="close.png" alt="" (click)="toggleSummate()" />
      <div>
        <input
          type="text"
          value=""
          placeholder="Grund"
          [(ngModel)]="ausgabe.name"
        />
        <input
          type="text"
          value=""
          placeholder="Betrag"
          [(ngModel)]="ausgabe.ausgabe"
        />
        <input
          type="text"
          value=""
          placeholder="z.B. Bank-Transaktion"
          [(ngModel)]="ausgabe.id"
        />
      </div>
      <input
        id="enter"
        type="button"
        value="Enter"
        (click)="addAusgaben(ausgabe)"
      />
    </div>
  }
}
