<section>
  <h1>Hello, {{ 'User' }}!</h1>
  <div class="select_period">
    <input type="button" value="Dieser Monat" />
    <input type="button" value="Letzter Monat" />
    <input type="button" value="Dieses Jahr" />
    <input type="button" value="Letzten 12 Monate" />
  </div>
  <div class="choosePeriod">
    <input type="button" value="Wähle Zeitraum" />
  </div>
</section>

<section>
  <app-finance-card>
    <p class="financeCard_title">Balance</p>
    <h2 id="balance" class="financeCard_value">{{ cashBalance() + '€' }}</h2>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
  <app-finance-card>
    <p class="financeCard_title">Einnahmen</p>
    <h3 id="einnahmen" class="financeCard_value">
      {{ totalEinnahmen.value() + '€' }}
    </h3>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
  <app-finance-card>
    <p class="financeCard_title">Ausgaben</p>
    <h4 id="ausgaben" class="financeCard_value">
      {{ totalAusgaben.value() + '€' }}
    </h4>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
</section>

<div class="container_summate">
  <app-finance-summate
    [icon]="'add.png'"
    [caption]="'Einnahmen hinzufügen'"
    [label]="'Erstellen sie manuell eine Einnahme'"
    [popUpCaption]="'Fügen Sie ihre Einnahme hinzu!'"
  ></app-finance-summate>

  <app-finance-summate
    [icon]="'minus.png'"
    [caption]="'Ausgaben hinzufügen'"
    [label]="'Erstellen sie manuell eine Ausgabe'"
    [popUpCaption]="'Fügen Sie ihre Ausgabe hinzu!'"
  ></app-finance-summate>
</div>
