<section>
  <h1>Hello, {{ 'User' }}!</h1>
  <div class="select_period">
    <input type="button" value="Dieser Monat" />
    <input type="button" value="Letzter Monat" />
    <input type="button" value="Dieses Jahr" />
    <input type="button" value="Letzten 12 Monate" />
  </div>
  <div class="choosePeriod">
    <input type="button" value="Wähle Zeitraum" />
  </div>
</section>

<section>
  <app-finance-card>
    <p class="financeCard_title">Balance</p>
    <h2 id="balance" class="financeCard_value">{{ balance() + '€' }}</h2>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
  <app-finance-card>
    <p class="financeCard_title">Einnahmen</p>
    <h3 id="einnahmen" class="financeCard_value">{{ totalEinnahmen() + '€' }}</h3>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
  <app-finance-card>
    <p class="financeCard_title">Ausgaben</p>
    <h4 id="ausgaben" class="financeCard_value">{{ totalAusgaben() + '€' }}</h4>
    <p class="financeCard_course">12,5%</p>
  </app-finance-card>
</section>

<section>
  <div class="einnahmen_container">
    <div class="icon_container_einnahmen">
      <img src="add.png" alt="" />
    </div>
    <div class="add_finance">
      <p class="add_finance_title">Einnahmen hinzufügen</p>
      <p>Erstellen sie manuell eine Einnahme</p>
    </div>
  </div>
  <div class="ausgaben_container">
    <div class="icon_container_ausgaben">
      <img src="minus.png" alt="" />
    </div>
    <div class="add_finance">
      <p class="add_finance_title">Ausgaben hinzufügen</p>
      <p>Erstellen sie manuell eine Ausgaben</p>
    </div>
  </div>
</section>
